name: Deploy to AWS EC2

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Deploy to EC2 via SSH
        env:
          EC2_HOST: ${{ secrets.EC2_HOST }}
          EC2_USER: ${{ secrets.EC2_USER }}
          EC2_KEY: ${{ secrets.EC2_SSH_KEY }}
          APP_DIR: ${{ secrets.EC2_APP_DIR }}
        run: |
          echo "$EC2_KEY" > ec2_key.pem
          chmod 600 ec2_key.pem
          ssh -o StrictHostKeyChecking=no -i ec2_key.pem ${EC2_USER}@${EC2_HOST} << EOF
            
            REPO_NAME="test_gitTutorial"
            
            cd ${APP_DIR}

            echo "PWD now:"
            pwd

            echo "Listing APP_DIR:"
            ls -la
            
            if [ -d "\$REPO_NAME/.git" ]; then
              cd "\$REPO_NAME"
              echo "Repository exists, pulling latest changes from dev branch..."
              git pull origin dev
            else
              echo "Repository not found, cloning dev branch..."
              git clone -b dev https://github.com/Matestampa/test_gitTutorial.git
              cd "\$REPO_NAME"
            fi

            echo "Instalando dependencias..."

            npm ci

            echo "Actualizando el paquete de schemas @matestampa/diffum-goals_mongoose-schemas"
            npm update "@matestampa/diffum-goals_mongoose-schemas"

            echo "Chequeando si existe el proceso PM2: DIFFUM_GOALS_API_DEV"

            if pm2 list | grep -q "DIFFUM_GOALS_API_DEV"; then
              echo "Proceso encontrado, reiniciando..."
              pm2 restart DIFFUM_GOALS_API_DEV
            else
              echo "Proceso NO encontrado, iniciando por primera vez..."
              pm2 start npm --name DIFFUM_GOALS_API_DEV -- run testProd --restart-delay 10000
            fi

          EOF
          rm -f ec2_key.pem
